ul {
    list-style-type: none;
    margin: 0;
    padding-left: 80%;
    overflow: hidden;
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }
  
  li a:hover {
    background-color: rgb(235, 180, 63);
  }
.active {
   
    
    background-color: rgb(22, 171, 240);
}
input{
  width: 300px;height: 50px;border: 2px;
  border-style: solid;
}
select{
  width: 310px;height: 50px;border: 2px;
  border-style: solid;
}
.login{
margin-top: 100px;
margin-left: 600px;
flex-direction: row;

}